/* GENERALS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;500;600&family=Prompt:wght@100;200;400;500;600&family=Roboto:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
    text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.col-6 {
    width: 50vw;
}

.col-12 {
    width: 94vw;
}

/* HEADER */

header {
    padding: 5px 120px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    text-decoration: none;
    font-size: 18px;
    color: #0D0D0E;
    border:none!important;
    background-color: white!important;
    padding: 0 0;
}

.nav-img:hover {
    text-decoration: none;
    color: #1E2D41;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li {
    margin: 0px 50px;
}

.nav-list button {
    text-decoration: none;
    font-size: 18px;
    color: #0D0D0E;
    border:none!important;
    background-color: white!important;
}

.nav-list button:hover {
    text-decoration: none;
    color: #1E2D41;
    cursor: pointer;
}

/* LANGUAGE-AREA */
.language-area {
    display: flex;
    justify-content: flex-end;
    padding: 5px 168px;
}

.language-container a {
    padding: 4px;
}

/* HERO AREA */
.hero-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px;
    padding: 5px 120px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding-right: 290px;
    width: 400px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: normal;
    color: #0D0D0E;
    line-height: 70px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
    color: #0D0D0E;
    line-height: 40px;
}

.btn {
    margin-top: 40px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-radius: 7px;
    outline: 0;
    padding: 10px 40px;
    background-color: #141217;
    color: #FFF;
    font-size: medium;
}

.btn:hover {
    cursor: pointer;
    background-color: #1E2D41; 
}

.hero-img {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    margin-right: 50px;
    width: 400px;
}

/* BACKGROUND AREA */
.bg-area {
    background-image: url("../images/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROJECTS AREA */
.projects-area {
    background-image: url("../images/projects.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

.title {
    max-width: 650px;
    display: flex;
    justify-content: center;
    top: 80px;
    left: 200px;
}

.title-h1 {
    font-size: 60px;
    font-weight: normal;
    color: #0D0D0E;
}

.projects {
    margin-top: 30px;
    max-width: 650px;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 160px;
    left: 200px;
}

.projects ul li {
    font-size: 30px;
    line-height: 35px;
}

.button-projects {
    max-width: 650px;
    display: flex;
    justify-content: center;
}

.btn-projects {
    margin-top: 40px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-radius: 7px;
    outline: 0;
    padding: 10px 40px;
    background-color: #141217;
    color: #FFF;
    font-size: medium;
}

.btn-projects:hover {
    cursor: pointer;
    background-color: #1E2D41;
}

/* CONTACT AREA */
.contact-area {
    background-color: #141217;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-area h1 {
    color: #FFF;
    font-size: 38px;
    margin-top: 100px;
}

.contact-form-wrapper {
    margin-top: 80px;
    width: 90vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    padding: 8px;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.contact-form input::placeholder {
    font-family: 'Prompt', sans-serif;
}

.contact-form textarea {
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.contact-form textarea::placeholder {
    font-family: 'Prompt', sans-serif;
    margin-left: 5px;
}

.contact-form-btn-container button {
    margin-top: 40px;
    box-shadow: 0 0 0 0;
    border-radius: 7px;
    border: 0 none;
    outline: 0;
    padding: 10px 40px;
    background-color: #2b2b2b;
    color: #FFF;
    font-size: medium;
}

.contact-form-btn-container button:hover {
    cursor: pointer;
    background-color: #222;
}

/* FOOTER */
footer {
    background-color: #141217;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img {
    max-width: 30px;
    max-height: 30px;
}

.footer-img-container button {
    text-decoration: none;
    border:none!important;
    background-color: #000!important;
    padding: 0 1px;
}

.footer-img-container button:hover {
    text-decoration: none;
    color: #1E2D41;
    cursor: pointer;
}

@media screen and 
(min-width: 640px) and
(max-width: 1500px) {

    /* BACKGROUND AREA */
    .bg-area {
        background-image: url("../images/cover.png");
        background-size: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        min-height: 70vh;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    footer {
        padding-top: 50px;
        padding-bottom: 5px;
    }
}


@media screen and 
(min-width: 200px) and
(max-width: 640px) {
    /* HEADER */
    header {
        padding: 0px 0px;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-wrapper {
        min-width: 370px;
    }

    .nav-list {
        max-width: 500px;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-list li {
        margin: 0px;
    }

    /* LANGUAGE-AREA */
    .language-area {
        display: flex;
        justify-content: flex-end;
        padding: 0px 16px;
        margin-top: 30px;
    }

    .language-container a {
        padding: 4px;
    }

    /* HERO AREA */
    .hero-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        margin-bottom: 30px;
        width: 100vw;
        height: 1000px;
        padding: 0px;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        padding-right: 0px;
        width: 300px;
    }

    /* BACKGROUND AREA */
    .bg-area {
        background-image: url("../images/cover.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        min-height: 20vh;
        justify-content: center;
        align-items: center;
    }

    /* PROJECTS AREA */
    .projects-area {
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 300px;
        margin-bottom: 50px;
    }
    
    .title {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 50px;
        top: 80px;
        left: 200px;
    }
    
    .title h1 {
        font-size: 48px;
        font-weight: normal;
        color: #0D0D0E;
    }
    
    .projects {
        margin-top: 30px;
        margin-left: 0px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        text-align: center;
        top: 160px;
        left: 200px;
    }
    
    .projects ul li {
        font-size: 20px;
        line-height: 30px;
    }

    /* CONTACT AREA */
    .contact-area h1 {
        color: #FFF;
        font-size: 28px;
        margin-top: 60px;
    }

    .contact-form-wrapper {
        margin-top: 40px;
        max-width: 300px;
    }
    
    /* FOOTER */
    footer {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}