@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;500;600&family=Prompt:wght@100;200;400;500;600&family=Roboto:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
    text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.col-6 {
    width: 50vw;
}

.col-12 {
    width: 94vw;
}

/* HEADER */

header {
    padding: 5px 120px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    text-decoration: none;
    font-size: 18px;
    color: #0D0D0E;
    border:none!important;
    background-color: white!important;
    padding: 0 0;
}

.nav-img:hover {
    text-decoration: none;
    color: #1E2D41;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li {
    margin: 0px 50px;
}

.nav-list button {
    text-decoration: none;
    font-size: 18px;
    color: #0D0D0E;
    border:none!important;
    background-color: white!important;
}

.nav-list button:hover {
    text-decoration: none;
    color: #1E2D41;
    cursor: pointer;
}

/* LANGUAGE-AREA */
.language-area {
    display: flex;
    justify-content: flex-end;
    padding: 5px 168px;
}

.language-container a {
    padding: 4px;
}

.title-container {
    display: flex;
    justify-content: center;
    padding: 80px 120px;
}

.title-container p {
    text-align: center;
    font-size: 55px;
    min-width: 300px; 
}

.content-container {
    display: flex;
    max-width: 1500px;
    flex-direction: row;
    padding: 28px 125px;
}

.box-container {
    min-width: 33.33%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container img {
    max-width: 380px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding-bottom: 10px;
}

.box-container h2 {
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0;
}

.box-container p {
    text-align: center;
    padding: 10px 0;
}

.box-container button {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #0D0D0E!important;
    margin-top: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-radius: 7px;
    outline: 0;
    padding: 10px 40px;
    background-color: #141217;
    color: #FFF;
    font-size: medium;
}

.box-container button:hover {
    text-decoration: none;
    background-color: #1E2D41!important;
    cursor: pointer;
    color: #FFF;
}

/* FOOTER */
footer {
    margin-top: 500px;
    background-color: #141217;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img {
    max-width: 30px;
    max-height: 30px;
}

.footer-img-container button {
    text-decoration: none;
    border:none!important;
    background-color: #000!important;
    padding: 0 1px;
}

.footer-img-container button:hover {
    text-decoration: none;
    color: #1E2D41;
    cursor: pointer;
}

@media screen and 
(min-width: 640px) and
(max-width: 1500px) {

    .content-container {
        display: flex;
        max-width: 1000px;
        flex-direction: row;
        padding: 28px 125px;
    }
    
    .box-container {
        min-width: 33.33%;
        padding: 5px 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box-container img {
        max-width: 300px;
    }
}

/* RESPONSIVIDADE MOBILE */
@media screen and 
(min-width: 200px) and
(max-width: 640px) { 
    /* HEADER */
    header {
        padding: 0px 0px;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-wrapper {
        min-width: 370px;
    }

    .nav-list {
        max-width: 500px;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-list li {
        margin: 0px;
    }

    /* LANGUAGE-AREA */
    .language-area {
        display: flex;
        justify-content: flex-end;
        padding: 0px 16px;
        margin-top: 30px;
    }

    .language-container a {
        padding: 4px;
    }

    .title-container {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .title-container p {
        font-size: 45px;
    }
    
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 10px;
    }

    .box-container {
        min-width: 33.33%;
        width: 300px;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-container img {
        max-width: 300px;
        max-height: 200px;
        width: auto;
        height: auto;
        padding-bottom: 10px;
    }

    /* FOOTER */
    footer {
        background-color: #141217;
        margin-top: 200px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        color: #FFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-img {
        max-width: 30px;
        max-height: 30px;
    }
}